footer {
    background-color: #222222;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 35vh;
}

footer > p {
    font-size: 2rem;
    color: linen;
    text-align: center;
    margin-top: 2rem;
}

footer a:visited, footer a:link {
    color: var(--var-main-color);
}

#go-to-top {
    font-size: 5rem;
    margin: 3rem 0 3rem 0;
    border-radius: 50%;
}