
main {
    max-width: 120rem;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    main {
        display: flex;
        flex-direction: column;
        padding: 0 2rem 0 2rem;
    }
}

h2 {
    margin: 2rem 0 2rem 0;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    padding: 2rem;
    gap: 2rem;
}

.skills i {
    font-size: 8rem;
}

.skills a, .skills a:visited, .skills a:link {
    text-decoration: none;
    margin: 0 auto;
}

.projects > .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
    margin-bottom: 3rem;
    padding: 0;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 61rem;
}

.project:nth-child(odd) {
    background-image: url("../assets/note1.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.project:nth-child(even) {
    background-image: url("../assets/note2.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.project p {
    font-size: 1.6rem;
    padding: 1.3rem;
}

.project p:last-child {
    margin-bottom: 3rem;
}

.project h3 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 18rem;
}

.project a:visited, .project a:link {
    color: #911ac5;
}

.music {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

@keyframes playingAnimation {
    10% {
        transform: scaleY(0.3);
    }

    30% {
        transform: scaleY(1);
    }

    60% {
        transform: scaleY(0.5);
    }

    80% {
        transform: scaleY(0.75);
    }

    100% {
        transform: scaleY(0.5);
    }
}

.playing-animation {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 20px;
    height: 20px;
    margin-left: 1rem;
}

.playing-animation span {
    width: 3px;
    height: 100%;
    background-color: #1ED760;
    border-radius: 2px;
    animation: playingAnimation 2.2s ease infinite alternate;
    content: '';
    transform-origin: bottom;
}

.playing-animation span:nth-of-type(2) {
    animation-delay: -2.2s;
}

.playing-animation span:nth-of-type(3) {
    animation-delay: -3.7s;
}

.playing-animation span:nth-of-type(4) {
    animation-delay: -1.4s;
}

.now-playing {
    height: 20rem;
    background-color: #222222;
    display: flex;
    border-radius: 4px;
    width: 100%;
}

.spotify-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    color: #fff;
}

#song-cover {
    width: 16.5rem;
    height: 16.5rem;
    border-radius: 4px;
    object-fit: cover;
}

.song-details {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    gap: 1rem;
}

#song-title {
    font-size: 2rem;
    font-weight: bold;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    width: 24rem;
}

#song-title span {
    color: white;
    display: inline-block;
    text-decoration: none;
}

#song-title a span:hover {
    text-decoration: underline;
}

#song-artist {
    font-size: 1.5rem;
    font-weight: normal;
    opacity: 0.8;
    width: 21.5rem;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}

#song-artist span {
    display: inline-block;
}

.explicit {
    display: flex;
    gap: 1rem;
}

#song-explicit {
    font-size: 1rem;
    background-color: grey;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    color: black;
    border-radius: 2px;
}

.spotify-logo {
    font-size: 3rem;
    color: #1ED760;
    margin-left: 2rem;
}

.animate {
    position: relative;
    animation: move 6s linear infinite alternate;
}

@keyframes move {
    0%, 20% {
        transform: translateX(0);
        left: 0;
    }
    80%, 100% {
        transform: translateX(-100%);
        left: 100%;
    }
}

.not-playing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.not-playing h3 {
    font-size: 1.5rem;
    margin: 1rem 14.02rem;
    color: white;
}

.top20songs {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222222;
    border-radius: 4px;
    height: 60rem;
    color: white;
    width: 100%;
    font-size: 2rem;
    overflow-y: scroll;
}

.top20songs h4 {
    padding: 2rem;
}

.top20songs::-webkit-scrollbar {
    display: none;
}

.song {
    display: flex;
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid #333333;
    gap: 1.5rem;
    align-items: center;
}

.song img {
    width: 5rem;
    height: 5rem;
    border-radius: 4px;
    object-fit: cover;
}

.song #artist {
    font-size: 1.3rem;
    font-weight: normal;
    opacity: 0.8;
    width: 21.5rem;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}

.song #title {
    white-space: nowrap;
    font-size: 1.6rem;
    font-weight: normal;
}

.song #index {
    width: 1.5rem;
    font-size: 1.5rem;
    opacity: 0.8;
    text-align: right;
}

.top10artists {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222222;
    border-radius: 4px;
    color: white;
    height: 37rem;
    width: 100%;
    font-size: 2rem;
    overflow-y: scroll;
}

.top10artists h4 {
    padding: 2rem;
}

.top10artists::-webkit-scrollbar {
    display: none;
}

.artist {
    display: flex;
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid #333333;
    gap: 1.5rem;
    align-items: center;
}

.artist img {
    width: 5rem;
    height: 5rem;
    border-radius: 4px;
    object-fit: cover;
}

.artist #name {
    white-space: nowrap;
    font-size: 1.6rem;
    font-weight: normal;
}

.artist #index {
    width: 1.5rem;
    font-size: 1.5rem;
    opacity: 0.8;
    text-align: right;
}

.artist #popularity {
    font-size: 1.3rem;
    font-weight: normal;
    opacity: 0.8;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}

.music-wrapper {
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 3rem;
}

.location {
    height: 50rem;
    background-color: #222222;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 7rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 3rem 0 3rem 0;
}

@media screen and (max-width: 1000px) {
    .now-playing {
        height: 10rem;
    }

    .spotify-logo {
        display: none;
    }

    #song-cover {
        width: 7rem;
        height: 7rem;
    }

    #song-title {
        font-size: 1.4rem;
        width: 17rem;
    }

    #song-artist {
        font-size: 1.2rem;
        width: 14.5rem;
    }
    .not-playing h3 {
        font-size: 1.3rem;
        margin: 1rem 5rem;
    }

    .music-wrapper {
        width: 100%;
    }

    .music {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        align-items: center;
    }
    .song #artist {
        font-size: 1.1rem;
    }
    .song #title {
        font-size: 1.3rem;
    }
}
