
main {
    max-width: 120rem;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    main {
        display: flex;
        flex-direction: column;
        padding: 0 2rem 0 2rem;
    }
}

h2 {
    margin: 2rem 0 2rem 0;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    padding: 2rem;
    gap: 2rem;
}

.skills i {
    font-size: 8rem;
}

.projects > .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
    padding: 1rem;
    margin-bottom: 3rem;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 61rem;
}

.project:nth-child(odd) {
    background-image: url("../images/note1.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.project:nth-child(even) {
    background-image: url("../images/note2.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.project p {
    font-size: 1.6rem;
    padding: 1.3rem;
    margin: 0 1rem 0 1rem;
}

.project p:last-child {
    margin-bottom: 3rem;
}

.project h3 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 18rem;
}

.project a:visited, .project a:link {
    color: mediumpurple;
}

.music, .location {
    height: 53rem;
}

@keyframes playingAnimation {
    10% {
        transform: scaleY(0.3);
    }

    30% {
        transform: scaleY(1);
    }

    60% {
        transform: scaleY(0.5);
    }

    80% {
        transform: scaleY(0.75);
    }

    100% {
        transform: scaleY(0.5);
    }
}

.playing-animation {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 20px;
    height: 20px;
}

.playing-animation span {
    width: 3px;
    height: 100%;
    background-color: #1ED760;
    border-radius: 2px;
    animation: playingAnimation 2.2s ease infinite alternate;
    content: '';
    transform-origin: bottom;
}

.playing-animation span:nth-of-type(2) {
    animation-delay: -2.2s;
}

.playing-animation span:nth-of-type(3) {
    animation-delay: -3.7s;
}

.playing-animation span:nth-of-type(4) {
    animation-delay: -1.4s;
}

.spotify-logo {
    color: #1DB954;
    font-size: 5rem;
}

.now-playing {
    height: 15rem;
    width: 100%;
    background-color: #222222;
}

#song-cover {
    height: 20rem;
    width: 20rem;
    object-fit: cover;
}

